@tailwind base;
@tailwind components;
@tailwind utilities;

.active-scroll-spy {
  font-weight: 700;
  padding: 0.5rem 1rem;
  color: #9333ea;
}

.input-role:is(:checked)+.label-role {
  background-color: rgb(233 213 255);
  border: 2px solid rgb(107 33 168);
}